* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font);
    background-color: var(--colour-bg);
    color: var(--colour-font);
}

:root {
    --colour-bg: #383838;
    --colour-bg-light: #505050;
    --colour-bg-dark: #333333;

    --font: Verdana, Geneva;
    --colour-font: #d3d3d3;
    --colour-font-important: #e9e9e9;

    --navBarWidth: 200px;
}

button {
    appearance: none;
}

h1 {
    font-weight: 400;
}

.navBar {
    background-color: var(--colour-bg-light);
    width: var(--navBarWidth);
    height: 100dvh;
    position: fixed;
}

.container {
    margin-left: var(--navBarWidth);
}

.text-centre-horizontal {
    display: flex;
    justify-content: center;
}

.text-default-spacing-vertical {
    padding-top: 60px;
}

.notes-container {
    width: 100%;
    height: 80%;
}

.recent-note-container {
    background-color: var(--colour-bg-light);
    border-radius: 12px;
    margin: 30px 15px;
    padding: 10px;
}